div.contenedorBarra {
    border: 1px solid white;
    height: 88vh;
    width: 65%;
    position: fixed;
    right: 0;
    top: 12vh;
    background-color: black;
    color: white;
    
}

div.datosUsuarioBarra{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-around;
    padding: 10px;
}

div.datosUsuarioBarra img{
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 2px solid white;
}

div.textoUsuarioBarra{
    width: 100%;
}

div.fotoBarra{
    position: relative;
}

a.editarFotoBarra{
    position: absolute;
    top: 0;
    right: 0;
    background-color: gray;
    color: white;
    font-size: 0.8em;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

a.editarFotoBarra>img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

ul.listaBarra {
    list-style-type: none;
    padding: 10px;

}

ul.listaBarra li {
    
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
}

p.textoBarra {
    font-size: 1em;
    margin-bottom: 10px;
}

p.nombreBarra {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

p.usernameBarra {
    text-align: center;
    
}

*{
    
}


@media screen and (min-width: 767px) {
    div.contenedorBarra {
        width: 25%;
    }
}