*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'consolas';
}
body{
    background-color: #2F3652;
}


/* BUSCADOR */
.buscar input{
    font-size: 100%;
    border: 1px solid #fd213d;
    outline: none;
    border-radius: 5px 0 0 5px;
}
.buscar button{
    background-color: #fd213d;
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    border: none;
}